

.logo img patch{
    fill: white;
}
.logo img{
    width: 185px;
    height: 40px;

}

.opaque-navbar {
    background-color: rgba(0,0,0,0.2);
    /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: #830bb3;
    height: 60px;
    transition: background-color .5s ease 0s;
}

@media (max-width: 992px) {
    .opaque-navbar {
        background-color: rgba(0,0,0,0.2);
        height: 60px;
        transition: background-color .5s ease 0s;
    }

}



